extends ../layout

block header
  .container
    h1 Edit a Follow

block content
  form(action="/followers/#{follow._id}", method="POST")
    .form-group
      label Follower
      input.form-control(type='text', name='follower', value='#{follow.follower}')
    .form-group
      label Following
      input.form-control(type='text', name='following', value='#{follow.following}')
    .form-group
      label Type
      input.form-control(type='text', name='type', value='#{follow.type}')
    .form-group
      button(type='submit', class='btn btn-primary') Save
      =' or '
      a(href='/followers') cancel
