extends layout

block content
  h1 #{title}
  ul
    each follow in followers
      li(class=[follow.type, follow.following.toLowerCase()]) #{follow.follower} followed #{follow.following} on #{follow.type}
  
