doctype html
html(ng-app='app')
  include ./head.jade
  body
    .container
      nav.navbar.navbar-default
        ul.nav.navbar-nav
          li
            a(href='/followers') Followers
          li
            a(href='/feeds') Feeds
    block header
    .container
      block content
