body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

ul#followers
  padding: 0px
  margin: 0px
  width: 400px
  overflow: hidden

  li
    margin: 0 0 2px 0
    font-size: 14px
    background: #EEEEEE
    padding: 0px 10px
    border: 1px solid #ccc
    border-radius: 5px
    -webkit-transition: margin ease 0.5s, opacity ease 1.5s
    line-height: 3em

    .verb:before
      content: " followed "

    &.twitch .type:before
      content: " on Twitch"

    &.twitter .type:before
      content: " > Twitter"

    &.ng-enter
      margin-top: -40px
      opacity: 0

    &.ng-enter.ng-enter-active
      margin-top: 0px
      opacity: 1
